<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.temp.use_jdbc_metadata_defaults">false</property>
   
   <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/postgres</property>
    <property name="hibernate.connection.username">postgres</property>
    <property name="hibernate.connection.password">frubbs11</property>
<!--

	<property name="hibernate.connection.url">jdbc:postgresql://ec2-107-21-219-235.compute-1.amazonaws.com:5432/d17nleuljn7a5?ssl=true&amp;sslfactory=org.postgresql.ssl.NonValidatingFactory</property>
     <property name="hibernate.connection.username">qvnfkdkbayapwg</property>
     <property name="hibernate.connection.password">VRexJbyIxR-W8UR_YvQvdpc3c3</property>
-->	
    <mapping class="bean.Conselho"/>
  </session-factory>
</hibernate-configuration>
